
#wrapper{
width:auto;
height:auto;

}
.puzzme{
color:white;
text-align:center;
font:5%;
font-family:comic sans ms;
padding:5%;
text-decoration:none;

}

.hello{
width:auto;
height:auto;

background:rgba(40,40,40,.5);
border:rgba(40,40,40,.5);
text-decoration:none;
}

