*{
margin:0%;
padding:0%;
}
#wrapper{
width:100%;
height:100%;


}
#logo{
width:100%;
height:15%;
background:rgba(40,40,40,.5);

}
#recruit
{
position :absolute;
padding:1%;
}
#p_2{

position:relative;
color: white;
font-family:comic sans ms;
margin-left:20%;
padding:5%;
font:10%;
}
 
#nav{
width:100%;
height:11%;
background:purple;

}
#home{
width:10%;
height:100%;
background-color:purple;
float:left;
transition:width 1s;
-webkit-transition: width 1s;

}
#p_1{
font:20%;
font-family:arial black;
color:rgba(255,255,255,1);
position:relative;
top:23%;
text-decoration:none;
text-align:center;
}

#puzzels{
width:10%;
height:100%;
background-color:rgba(256,19,49,.9);
float:left;
transition:width 1s;
-webkit-transition: width 1s;

}
#p_3{
font:20%;
font-family:arial black;
color:rgba(255,255,255,1);
position:relative;
top:23%;
text-decoration:none;
text-align:center;
}
#about{

width:10%;
height:100%;
background-color:#2a7073;
float:left;
transition:width 1s;
-webkit-transition: width 1s;
}
#p_4{
font:20%;
font-family:arial black;
color:rgba(255,255,255,1);
position:relative;
top:23%;
text-decoration:none;
text-align:center;
}
#addon{

width:10%;
height:100%;
background-color:green;
float:left;
transition:width 1s;
-webkit-transition: width 1s;
}
#p_5{
font:20%;
font-family:arial black;
color:rgba(255,255,255,1);
position:relative;
top:23%;
text-decoration:none;
text-align:center;
}
#tagline{
width:94%;
height:11%;
background:rgba(40,40,40,.7);
padding:3%;


}
#tagline_1css{
color:pink;
font:45%;
text-align:center;

}
#para_100{
width:auto;
height:25%;
background:rgba(40,40,40,.5);

}
#final{
width:100%;
height:20%;
background:rgba(40,40,40,.8);
}
#tagline_2css{
padding:2%;
font:15%;
color:pink;
text-align:center;

}
#main_text{
font:15%;
color:pink;
padding:3%;
text-align:center;


}

#video{

width:50%;
height:68%;

float:clear;
float:left;
background:rgba(40,40,40,.5);
}
#txt{
width:50%;
height:68%;

float:left;
background:rgba(40,40,40,.5);
}
#footer{
width:100%;
height:9%;
background-color:rgba(40,40,40,.7);
float:left;
}
#footer_p{

text-align: center;
color: white;
padding:.5%;
}


#home:hover{
width:70%;
}
#puzzels:hover{
width:70%;
}
#about:hover{
width:70%;
}
#addon:hover{
width:70%;
}
#puzz_me{

width:100%;
height:80%;
background:rgba(40,40,40,.2);
border:1%, purple;
}
#p_10{
color:red;
font-family:arial black;


}
.atxt{

text-decoration:none;


}
#text_about_me{

padding-top:5%;
padding-bottom:5%;
padding-left:0%;
padding-right:auto;
color:white;
font-family:comic sans ms;


}
#img_of_me{
padding-left:25%;
padding-top:4%;
padding-bottom:1%;
border:1% , solid black;


}
#block_my_text{
background:rgba(40,40,40,.5);
width:auto;
height:50%;
padding-top:5%;
padding-bottom:5%;
padding-left:0%;
padding-right:5%;

}
#block_my_img{
background:rgba(40,40,40,.5);
width:auto;
height:50%;
padding-top:5%;
padding-bottom:5%;
padding-left:0%;
padding-right:5%;

}
#new{
width:100%;
height:68%;
background:rgba(40,40,40,.5);


}