*{
margin:0px;
padding:0px;
}
#block{
width:9%;
height:auto;
background:rgba(40,40,40,.5);
}
#container_head{
width:97%;
height:10%;
background-color:rgba(40,40,40,.5);
margin:1%;
padding:1%;
}
#problem_text{
float:left;
width:60%;
height:auto;
background-color:rgba(40,40,40,.5);
margin:1%;
padding:1%;

}
#para_color{
color:white;
font-size:120%;

}
#para_img{

float:right;
margin-left:1%;
margin-top:1%;
width:35%;
height:auto;

background-repeat:none;


}
#ans{
width:96%;
height:auto;
margin:1%;
padding:1%;
background-color:rgba(40,40,40,.5);
}
#get_answer{

width:96%;
height:auto;
margin:1%;
padding:1%;
background-color:rgba(40,40,40,.5);
float:left;
float:clear;
color:white;



}


